[submodule "0x18-stacks_queues_lifo_fifo"]
	path = 0x18-stacks_queues_lifo_fifo
	url = git@github.com:stefansilverio/Monty.git
[submodule "holbertonschool-low_level_programming"]
	path = holbertonschool-low_level_programming
	url = git@github.com:stefansilverio/holbertonschool-low_level_programming.git
[submodule "0x1A-sorting_algorithms"]
	path = 0x1A-sorting_algorithms
	url = https://github.com/stefansilverio/0x1A-sorting_algorithms.git
