[submodule "0x18-stacks_queues_lifo_fifo"]
	path = 0x18-stacks_queues_lifo_fifo
	url = git@github.com:stefansilverio/Monty.git
[submodule "holbertonschool-low_level_programming"]
	path = holbertonschool-low_level_programming
	url = git@github.com:stefansilverio/holbertonschool-low_level_programming.git
